.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cardView {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 15em;
  height: 90%;
  border: 0.5px solid black;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  background: #005C97;
  background: -webkit-linear-gradient(to bottom, #363795, #005C97);
  background: linear-gradient(to bottom, #363795, #005C97);
}
.cardView:hover {
  opacity: 1;
  background: #1488CC;
  background: -webkit-linear-gradient(to top, #2B32B2, #1488CC);
  background: linear-gradient(to top, #2B32B2, #1488CC);
}

.topView {
  align-items: center;
  width: 100%;
  height: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

.nameLb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.pictureBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.businessBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 75%;
}

.placeOfWork {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}

.quotelb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 25%;
}

.skillBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 85%;
  height: 75%;
}

@media only screen and (max-width: 600px) {
  .cardView {
    opacity: 1;
  }

  .placeOfWork {
    font-weight: bold;
    font-style: normal;
    font-size: 0.9em;
    color: white;
  }

  .quotelb {
    font-weight: bold;
    font-style: normal;
    font-size: 0.9em;
    color: white;
  }

  .skillBox {
    font-weight: bold;
    font-style: normal;
    font-size: 0.9em;
    color: white;
  }

  .pictureBox {
    font-weight: bold;
    font-style: normal;
    font-size: 0.9em;
    color: white;
  }

  .topView {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    font-style: normal;
    font-size: 0.9em;
    color: white;
  }

  .nameLb {
    font-weight: bold;
    font-style: normal;
    font-size: 0.9em;
    color: white;
  }
}
@media only screen and (min-width: 601px) {
  .card {
    width: 25%;
  }

  .cardView {
    opacity: 0.7;
  }

  .placeOfWork {
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
    color: white;
  }

  .quotelb {
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
    color: white;
  }

  .skillBox {
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
    color: white;
  }

  .pictureBox {
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
    color: white;
  }

  .topView {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
    color: white;
  }

  .nameLb {
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
    color: white;
  }
}

/*# sourceMappingURL=superZCard.css.map */
