@import "../Utils/mixin.scss";
@import "../Utils/variables.scss";

.buttonsChoice{
  @include flexRowJustifySpaceEvenly();
  align-items: center;
  width: 100%;
  height: 8vh;
}

.selectedButton{
  @include mainStyleButton();
}

.selectIncident{
  background-color: darkred;
}

.selectNewSuperZ{
  background-color: darkgreen;
}