@import "../Utils/mixin";
@import "../Utils/variables";

.HomeMapSuperView{
  @include flexColumnJustifySpaceEvenly();
}

@media only screen and (max-width: 600px) {
  .HomeMapSuperView{
    flex: 6;
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .HomeMapSuperView{
    height: auto;
    width: 75%;
  }
}