@import "../Utils/mixin.scss";
@import "../Utils/variables.scss";

#incidentForm{
  @include flexColumnJustifySpaceEvenly();
  align-items: center;
  width: 100%;
  height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar{
    display: none;
  }
}

.incidentDeclaring{
  @include flexColumnJustifySpaceEvenly();
  align-items: center;
  width: 100%;
  flex: 5;
}

#incidentsBox{
  @include flexColumnJustifySpaceEvenly();
  align-items: center;
  width: 100%;
  flex: 3;
}

.incident {
  @include flexColumnJustifySpaceEvenly();
  align-items: start;
  flex: 1;
}

.incidentCheck{
  @include flexRowJustifyCenter();
  align-items: center;
}

#locationChoice{
  @include flexRowJustifySpaceEvenly();
  align-items: center;
  width: 100%;
  height: 5vh;
}

.getPosit{
  @include flexRowJustifyCenter();
  align-items: center;
  width: 25%;
  height: 100%;

}
