@import "../Utils/mixin";
@import "../Utils/variables";

.MapBox{
  @include flexRowJustifyCenter();
  width: 100%;
  flex: 5;
}

@media only screen and (max-width: 600px) {
  .MapBox{
    flex: 4;
  }
}