@import "../Utils/mixin.scss";
@import "../Utils/variables.scss";

.cardView{
  @include flexColumnJustifySpaceEvenly();
  align-items: center;
  opacity: 0.4;
  width: 15%;
  height: 90%;
  &:hover{
    opacity: 1;
  }
}

.topView{
  @include flexRowJustifySpaceEvenly();
  align-items: center;
  width: 100%;
  height: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

.nameLb{
  @include flexRowJustifyCenter();
  align-items: center;
  width: 75%;
  height: 100%;
}

.pictureBox{
  @include flexRowJustifyCenter();
  align-items: center;
  width: 25%;
  height: 100%;
}

.businessBox{
  @include flexColumnJustifySpaceEvenly();
  align-items: center;
  width: 100%;
  height: 75%;
}

.quotelb{
  @include flexRowJustifyCenter();
  align-items: center;
  width: 85%;
  height: 25%;
}

.skillBox{
  @include flexColumnJustifySpaceEvenly();
  align-items: center;
  width: 85%;
  height: 75%;
}