@import "../Utils/mixin.scss";
@import "../Utils/variables.scss";

.formulaire{
  @include flexColumnJustifySpaceEvenly();
  align-items: center;
  flex: 1;
  width: 100%;
}

.formTitle{
  @include flexRowJustifyCenter();
  align-items: center;
  height: 5vh;
  &__text{
    font-size: 1.4em;
    font-weight: bold;
  }
}

.infoBox{
  @include flexRowJustifyCenter();
  align-items: center;
  width: 100%;
  flex: 1;
  & input {
    border-radius:$roundedRadius;
    width: 85%;
    height: 5vh;
    border: solid black 1px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .formulaire{
    position: absolute;
    z-index: 2;
    height: 100vh;
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);
  }

}