@import "../Utils/mixin";
@import "../Utils/variables";

.SuperCardScrollview{
  @include flexRow();
  align-items: center;
  width: 100%;
  padding-left: 10px;
  overflow: auto;
  background: #0F2027;
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
}

@media only screen and (max-width: 600px) {
  .SuperCardScrollview{
    flex: 1;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}
@media only screen and (min-width: 601px) {
  .SuperCardScrollview{
    height: 25%;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}
