@import "../Utils/mixin.scss";
@import "../Utils/variables.scss";

.card{
  @include flexColumnJustifyCenter();
  align-items: center;
  height: 100%;
}

.cardView{
  @include flexColumnJustifySpaceEvenly();
  align-items: center;
  width: 15em;
  height: 90%;
  border: 0.5px solid black;
  border-radius:25px;
  margin-left: 10px;
  margin-right: 10px;
  background: #005C97;
  background: -webkit-linear-gradient(to bottom, #363795, #005C97);
  background: linear-gradient(to bottom, #363795, #005C97);
  &:hover{
    opacity: 1;
    background: #1488CC;
    background: -webkit-linear-gradient(to top, #2B32B2, #1488CC);
    background: linear-gradient(to top, #2B32B2, #1488CC);
  }
}

.topView{
  @include flexRowJustifySpaceEvenly();
  align-items: center;
  width: 100%;
  height: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

.nameLb{
  @include flexRowJustifyCenter();
  align-items: center;
  width: 50%;
  height: 100%;
}

.pictureBox{
  @include flexRowJustifyCenter();
  align-items: center;
  width: 50%;
  height: 100%;
}

.businessBox{
  @include flexColumnJustifySpaceEvenly();
  align-items: center;
  width: 100%;
  height: 75%;
}

.placeOfWork{
  @include flexRowJustifyCenter();
  align-items: center;
  width: 100%;
  height: 25%;
}

.quotelb{
  @include flexRowJustifyCenter();
  align-items: center;
  width: 85%;
  height: 25%;
}

.skillBox{
  @include flexColumnJustifySpaceEvenly();
  align-items: center;
  flex-wrap: nowrap;
  width: 85%;
  height: 75%;
}


@media only screen and (max-width: 600px) {
  .cardView{
    opacity: 1;
  }

  .placeOfWork{
    @include responsivCardviewText();
  }

  .quotelb{
    @include responsivCardviewText();
  }

  .skillBox{
    @include responsivCardviewText();
  }

  .pictureBox{
    @include responsivCardviewText();
  }

  .topView{
    @include responsivCardviewText();
  }

  .nameLb{
    @include responsivCardviewText();
  }

}

@media only screen and (min-width: 601px) {
  .card{
    width: 25%;
  }
  .cardView{
    opacity: 0.7;
  }

  .placeOfWork{
    @include CardviewText();
  }

  .quotelb{
    @include CardviewText();
  }

  .skillBox{
    @include CardviewText();
  }

  .pictureBox{
    @include CardviewText();
  }

  .topView{
    @include CardviewText();
  }

  .nameLb{
    @include CardviewText();
  }
}